@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #fff;
}

body {
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}
/* 公共毛玻璃效果 */
.maoboli {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
}
/* 自定义滚动条样式 */
.scrollbar-hide::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 0.25rem;
}

.scrollbar-hide:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.7);
}
